#top{

    background-color:aqua;
}

.menu > ul > li > a {
    background-color:aqua;
}
#section {
    background-color:beige;
}
div{
    background-color: aqua;
}
#content
{
    width: 40%;
    height: auto;
    background-color: aqua;
    float: right;
      position: absolute;
    top: 50%;
    left: 59.4%;
}