#content
{
  
    background-color:chocolate;
    float: right;
      position: absolute;
    top: 30%;
    left: 49%;
}
#top{

    background-color:chocolate;
}
#content
{

    background-color: chocolate;
}

.menu > ul > li > a {
    background-color:chocolate;
}
#section {
    background-color:chocolate;
}
div{
    background-color: chocolate;
}