* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0; padding: 0;
}

body {
  background-color: firebrick;
}

/*GROW*/
grow{
    position: absolute;
    top: 10%;
    left:0%;

    
}
.grow img {
  height: 300px;
  width: 300px;
    position: absolute;
    top: 10%;
    left:0%;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.grow img:hover {
  width: 400px;
  height: 400px;
}

