div {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color:goldenrod;
   
}
body {
    background-color: aqua;
}
 
.clearfix:after {
    display:block;
    clear:both;
}
menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}
 
.menu {
    width:1000px;
    margin:0px auto;
    background-color:blue
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    color: red;
}
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color: greenyellow;
}
 

.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
 